@(hasSettings: Boolean, url: Call)(implicit request: RequestHeader, messages: Messages)
@helper.base {
    @Html("")
} {

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Rides</h1>
    </div>

    <p>Pull all your rides from Strava for analysis.</p>

    @if(hasSettings) {
        @b4.vertical.form(url) { implicit vfc =>
            @b4.submit('class -> "btn btn-primary"){ <i class="fa fa-ok"></i> Synch now! }
        }
    } else {
        <p>
            We found no performance settings for your account. <a href="@url">Create new settings.</a>
        </p>
    }


}