@()(implicit request: RequestHeader, messages: Messages)
@helper.base {
    @Html("")
} {

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Rides</h1>
    </div>

    <form action="@routes.Rides.sync()" method="post">
        <div class="row">
            <div class="small-12 columns">
                <button type="submit" class="button">Synch Now!</button>
            </div>
        </div>
    </form>

}