@import play.api.libs.json.Json

@(cp: CriticalPower, mmp: MeanMaxPower)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script type="text/javascript">
        var ctx = document.getElementById('cp').getContext('2d');
        var durations = [@Html(cp.predictions.map(p => s"'${p.duration / 60} min'").mkString(","))]
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: durations,
                datasets: [
                    {
                        label: "Critical power",
                        borderColor: 'rgb(255, 99, 132)',
                        data: [@cp.predictions.map(_.watts).mkString(",")]
                    }
                ]
            }
        });
    </script>

    <script type="text/javascript">
        var ctx = document.getElementById('mmp').getContext('2d');
        var durations = [@Html(mmp.efforts.map(p => s"'${p.duration}'").mkString(","))]
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: durations,
                datasets: [
                    {
                        label: "Mean max power",
                        borderColor: '#4289f4',
                        data: [@mmp.efforts.map(_.watts).mkString(",")]
                    }
                ]
            }
        });
    </script>

    <script type="text/javascript">
        var efforts = @Html(Json.stringify(Json.toJson(cp.predictions)))
        var chart = new Taucharts.Chart({
            guide: {
                y: { nice: false },
                interpolate: 'smooth-keep-extremum'
            },
            type: 'line',
            x: 'duration',
            y: 'watts',
            data: efforts,
            plugins: [
                Taucharts.api.plugins.get('tooltip')()
            ]
        });
        chart.renderTo('#line')
    </script>
}

@helper.base(scripts = scripts) {
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Power</h1>
    </div>

    <div id="line" class="c"></div>

    <canvas id="cp" width="1000" height="400"></canvas>
    <p>Critical power = @cp.cp, W' = @cp.wPrime kj</p>

    <canvas id="mmp" width="1000" height="400"></canvas>


}
