@import play.api.libs.json.Json

@(mmpData: Seq[ChartXY], cpData: Seq[ChartXY], cp: CriticalPower)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script type="text/javascript">
            var ctx = document.getElementById('mmp').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: "Mean max power",
                            borderColor: '#4289f4',
                            radius: 0,
                            data: @Html(Json.stringify(Json.toJson(mmpData)))
                        },
                        {
                            label: "Critical power",
                            fill: false,
                            borderColor: 'grey',
                            borderDash: [3, 3],
                            radius: 0,
                            data: @Html(Json.stringify(Json.toJson(cpData)))
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'logarithmic',
                            positiion: 'bottom',
                            ticks: {
                                min: 1,
                                max: 18000,
                                userCallback: function (tick) {
                                    if (tick < 60) {
                                        return tick.toString() + 'sec';
                                    } else if (tick % 60 === 0) {
                                        return (tick / 60).toString() + 'min';
                                    }
                                    return '';
                                }
                            }
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItems, data) {
                                var duration = tooltipItems[0].xLabel;
                                return formatDuration(duration);
                            }
                        }
                    }
                }
            });

            function formatDuration(timeInSeconds) {
                var hours = Math.floor(timeInSeconds / 3600);
                var secsLeft = timeInSeconds - hours * 3600;
                var minutes = Math.floor(secsLeft / 60);
                var seconds = secsLeft - minutes * 60;

                var formattedDuration = '';
                if (hours > 0) formattedDuration += hours + 'h';
                if (minutes > 0) formattedDuration += minutes + 'm';
                if (seconds > 0) formattedDuration += seconds + 's';
                return formattedDuration;
            }
    </script>
}

@helper.base(scripts = scripts) {
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Power Curve</h1>
    </div>

    <canvas id="mmp" width="1000" height="400"></canvas>
    <p>Critical power = @cp.cp, W' = @cp.wPrime kj</p>
}
