@(header: Html = Html(""), scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages)
<!DOCTYPE html>
<html lang="@{messages.lang.code}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" type="image/png"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap-datepicker/css/bootstrap-datepicker3.css")">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("styles/dashboard.css")">

        @header
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Routescoop</a>
            <ul class="navbar-nav px-3">
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="@routes.Auth.logout()">Logout</a>
                    </li>
                </ul>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="@routes.Home.index()">
                                    <span data-feather="home"></span>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.Rides.index()">
                                    <span data-feather="file"></span>
                                    Rides
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.PowerProfile.index()">
                                    <span data-feather="file"></span>
                                    Power Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.Settings.list()">
                                    <span data-feather="shopping-cart"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.User.profile()">
                                    <span data-feather="users"></span>
                                    Profile
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    @content

                </main>

            </div>
        </div>

        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/chartjs/Chart.bundle.js")" type="text/javascript"></script>

        @scripts

    </body>

</html>
