@(header: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages, pageMeta: PageMeta, wjAssets: WebJarAssets)
<!DOCTYPE html>
<html lang="@{messages.lang.code}">
    <head>
        <meta charset="UTF-8">
        @pageMeta.toHtml
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")" type="image/png"/>
        <link href="@routes.Assets.versioned("styles/foundation.css")" rel="stylesheet">
        @header
    </head>

    <body>

    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">RouteScoop</li>
                @*<li><a href="#">One</a></li>*@
                @*<li><a href="#">Two</a></li>*@
                @*<li><a href="#">Three</a></li>*@
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="@routes.User.profile()">Profile</a></li>
                <li><a href="@routes.Auth.logout()">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="row"><p></p></div>
    @content

    <script src="@routes.WebJarAssets.at(wjAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(wjAssets.locate("foundation.min.js"))"></script>
    <script src="@routes.Assets.versioned("scripts/main.js")"></script>
    <script src="@routes.Assets.versioned("scripts/hello.js")"></script>

    </body>

</html>
