@import models.Profile

@(profile: Profile)(implicit request: RequestHeader, messages: Messages)

@helper.base {
    @Html("")
} {
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Profile</h1>
    </div>

    <div class="row">
        <div class="small-9 columns">
            <div class="small-3 columns">
                <img class="avatar" src="@profile.picture">
            </div>
            <div class="small-9 columns">
                <dl>
                    <dt>Name</dt>
                    <dd>@profile.name</dd>
                    <dt><dd>&nbsp;</dd></dt>
                    <dt>Email</dt>
                    <dd>@profile.email</dd>
                    <dt><dd>&nbsp;</dd></dt>
                    <dt>Strava</dt>
                    <dd>
                        Strava athlete id -
                        @profile.stravaId.getOrElse {
                            <a href="@routes.Strava.authorize()">Connect your Strava account</a>
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="small-3 columns"></div>
    </div>
}
