@(fitnessList: Seq[DailyFitness])(implicit request: RequestHeader, messages: Messages)
@scripts = {
    <script type="text/javascript">
        var ctx = document.getElementById('pmc').getContext('2d');
        var days = [@Html(fitnessList.map(f => s"'${f.date}'").mkString(","))];
        // var daysFmt = days.map(function(d) {
        //    return new Date(d + 'T00:00:00');
        // });
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: days,
                datasets: [
                    {
                        label: "Fitness",
                        borderColor: 'rgb(255, 99, 132)',
                        data: [@fitnessList.map(_.fitness).mkString(",")]
                    },
                    {
                        label: "Fatigue",
                        borderColor: '#4289f4',
                        data: [@fitnessList.map(_.fatigue).mkString(",")]
                    },
                    {
                        label: "Stress",
                        borderColor: '#000000',
                        data: [@fitnessList.map(_.stressBalance).mkString(",")]
                    }
                ]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}

@helper.base(scripts = scripts) {
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>

    <p>
        Some default chart information here. Probably start with training hours by zone intensity.
    </p>

    <canvas id="pmc" width="1000" height="400"></canvas>

    <p>
        PMC is a bit misleading because not all TSS is created equal. You can be fitter on a lower CTL and fresher on a higher ATL.
    </p>
}
