@import config.AuthConfig

@(authConfig: AuthConfig)(implicit request: RequestHeader, messages: Messages, pageMeta: PageMeta, wjAssets: WebJarAssets)

@helper.base() {

    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu" data-responsive-menu="accordion">
                <li class="menu-text">RouteScoop</li>
                @*<li><a href="#">One</a></li>*@
                @*<li><a href="#">Two</a></li>*@
                @*<li><a href="#">Three</a></li>*@
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                @*<li><a href="#">My Account</a></li>*@
                @*<li><a class="button">Login</a></li>*@
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-8 small-centered columns text-center">
            <h1>Dig deeper into your training</h1>
            <p>Coordinate routes with friends and keep an eye out for one another. Connect to Strava and get better insight into your route data.</p>
            <div id="root" style="width: 320px ; margin: 40px auto ; padding: 10px ; border-style: solid ; border-width: 1px ; box-sizing: border-box;">
                Loading login form...
            </div>
        </div>
    </div>

    <script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
    <script>
        var lock = new Auth0Lock('@authConfig.clientId', '@authConfig.domain', {
            languageDictionary: {
                title: 'RouteScoop'
            },
            theme: {
                logo: '',
            },
            container: 'root',
            auth: {
                redirectUrl: '@authConfig.callbackUrl',
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                }
            }
        });
        lock.show();
    </script>
}
